<a href="https://colab.research.google.com/github/anzdata/test/blob/main/230906.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 함수

In [ ]:
def sum(num1, num2):
  result = num1 + num2
  return result # return은 ~를 해주겠다 는 뜻 (내뱉어줌)

In [ ]:
sum(3,4)

7

In [ ]:
# 입력값이 없는 함수
def say():
  return 'Hi'
say()

'Hi'

In [ ]:
def sum2(num1, num2): #
  print(num1+num2)

a = sum(3,4)
b = sum2(3,4)

7

In [ ]:
print(a)  # 함수는 return을 해줘야 나옴. 결과값을 해주기 위해서는 꼭 해줘야함.
print(b)  # b는 단순결과가 프린트 된 것이라 나오지 않음.

7
None

In [ ]:
# 함수에 넣어줄 때 순서가 그대로 들어가야 함.
sum(3, 4)
# 다르게 넣을 때에는 아래처럼 명시 시켜줘도 됨.
sum(num1 = 3, num2 = 4)

7

In [ ]:
def say_myself(name, old, man = True): # 입력을 안했을 때 man이 True가 됨.
  print(f'나의 이름은 {name}입니다.')
  print(f'나의 이름은 {old}입니다.')
  if man:
       print('남자입니다.')
  else:
       print('여자입니다.')
say_myself('홍길동', 20)
say_myself('박명수', 55, True)
say_myself('박명순', 55, False)
say_myself(old = 10, name = '뽀로로')

나의 이름은 홍길동입니다.
나의 이름은 20입니다.
남자입니다.
나의 이름은 박명수입니다.
나의 이름은 55입니다.
남자입니다.
나의 이름은 박명순입니다.
나의 이름은 55입니다.
여자입니다.
나의 이름은 뽀로로입니다.
나의 이름은 10입니다.
남자입니다.

## 전역변수 vs 지역변수
- 전역변수 : 함수 외부에서 선언 된 변수이며 프로그램 전체에서 사용 가능하다.
- 지역변수 : 함수 내부에서 선언 된 변수이며 해당 함수 내부에서만 사용할 수 있다.

In [ ]:
def test():
  local_var = 20
test()

In [ ]:
print(local_var)    # 지역변수라서 에러가 발생. 함수 안에서 놀아야 됨

20

In [ ]:
def test2():
  local_var = 20
  return local_var
a = test2()
print(a)

20

In [ ]:
def test3(): #가능하게 만듦, 최대한 쓰지 말것...
  global local_var
  local_var = 20
test3()
print(local_var)

20

### 연습문제

2-9. 입력하는 모든 수의 평균을 계산하는 함수 만들기
- 입력 개수에 상관없이 사용하기 위해, 함수 입력 값 자리에, *args를 사용
- def means(*args):

In [ ]:
def means(*args):
  sum1 = 0
  count1 = 0
  for i in args:
    sum1 = sum1 + i
    count1 = count1 +1
  result= sum1/count1
  return result
print(means(1,2,3,4,5,6,7,8))

4.5

In [ ]:
def my_means(*args):
    rst = sum(args) / len(args)
    return rst

my_means(1,2,3)

TypeError: ignored

#### 2-10. 두 수를 입력 받아 사칙연산(+,-,×,/)을 하는 함수 만들기

In [ ]:
def cal(num1, num2):
  return num1+num2, num1-num2, num1*num2, num1/num2

In [ ]:
def cul2(num1, num2):
    a = input("기호를 입력하시오 : ")
    if a == '+' :
        return num1 + num2
    elif a == '-' :
        return num1 - num2
    elif a == '*' :
        return num1 * num2
    elif a == '/' :
        return num1 / num2
    elif a == '//' :
        return num1 // num2
    elif a == '%' :
        return num1 % num2
    else :
        return '제공되지 않는 기호 입니다.'
cul2(10, 5)

기호를 입력하시오 : +

15

## 클래스

In [ ]:
class 붕어빵:
  def __init__(self,속재료):
    self.속재료 = 속재료

In [ ]:
피자붕어빵 = 붕어빵('피자')
팥붕어빵 = 붕어빵('팥')

In [ ]:
피자붕어빵.속재료

'피자'

1. 클래스 = 설계 도면
2. 인스턴스 =그 설계 도면으로 지은 집
3. 속성 = 집의 동, 호수, 평수 등 변할 수 있는 값
속성은 변수로 표현되며, 인스턴트마다 각각의 속성 값을 가질 수 있음.
4. 메서드 = 클래스 내부에 정의된 함수
5. self = 인스턴트 자체를 의미

* init - 속성값을 정해놓을 수 있음

## 클래스 만들기

In [ ]:
# step1 : 클래스 객체 선언하기  나는 a라는 이름의 클래스를 사용을 할게.(사칙연산)
class FourCal:
  def set_data(self,num1,num2): #self는 자기 자신을 의미
    self.num1 = num1  # 속성
    self.num2 = num2

  def add(self):
    return self.num1 + self.num2

a = FourCal()  #FourCal class를 사용하겠다고 선언. a는 인스턴스
a.set_data(10,20) #a라는 인스턴스를 활용해서 set_data라는 메서드를 사용하겠다는 의미
print(a.num1, a.num2)
print(a.add())
#b = FourCal() 오류발생. 각각의 인스턴스들이 속성값으로 다른 것을 가져올 수 있음.
#print(b.num1, b.num2)

10 20
30

In [ ]:
# 이렇게를 더 많이 써요.
class FourCal:
  def __init__(self,num1,num2): # 너 인스턴스 만들때 내가 그 값을 같이 받을게
    self.num1 = num1  # 메서드
    self.num2 = num2

  def add(self):
    return self.num1 + self.num2

a = FourCal(10,20)  #a는 인스턴스

print(a.num1, a.num2)
print(a.add())

10 20
30

In [ ]:
# 이렇게를 더 많이 써요.(사칙연산 만들어보기)
class FourCal:
  def __init__(self,num1,num2):
    self.num1 = num1
    self.num2 = num2

  def add(self):
    return self.num1 + self.num2

  def sub(self):
    return self.num1 - self.num2

  def mul(self):
    return self.num1 * self.num2

  def div(self):
    return self.num1 / self.num2

a = FourCal(10,20)

print(a.num1, a.num2)
print(a.add())
print(a.sub())
print(a.mul())
print(a.div())

10 20
30
-10
200
0.5

## 실습문제
1. BankAccount이름의 클래스를 생성합니다.
2. 생성자 메서드로, 계좌 번호, 예금주 이름, 초기 잔액을 받아 계좌를 생성합니다.
3. 입금, 출금, 현재 계좌의 잔액을 반환하는 메서드를 생성합니다.

In [ ]:
class BankAccount:
  def __init__(self,계좌번호,이름,잔액):  #한글로 안하는게 좋음.
    self.계좌번호 = 계좌번호
    self.이름 = 이름
    self.잔액 = 잔액

  def 입금(self, 금액):
    self.잔액 = self.잔액 + 금액

  def 출금(self, 금액):
    self.잔액 = self.잔액 - 금액

  def 잔액조회(self):
    print(f'{self.이름}님의 잔고는 {self.잔액}입니다,')

최진영계좌 = BankAccount('123-456-789','최진영',50000)
홍길동계좌 = BankAccount('987-654-321','홍길동',100000)

print(최진영계좌.잔액)
최진영계좌.입금(50000)
print(최진영계좌.잔액)
최진영계좌.출금(30000)
print(최진영계좌.잔액)
최진영계좌.잔액조회()

50000
100000
70000
최진영님의 잔고는 70000입니다,

## 상속

In [ ]:
class FourCal:
  def __init__(self,num1,num2): # 너 인스턴스 만들때 내가 그 값을 같이 받을게
    self.num1 = num1
    self.num2 = num2

  def add(self):
    return self.num1 + self.num2

  def sub(self):
    return self.num1 - self.num2

  def mul(self):
    return self.num1 * self.num2

  def div(self):
    return self.num1 / self.num2

In [ ]:
class MoreFourCal(FourCal):
  pass

In [ ]:
a = MoreFourCal(2, 4)
a.add()

6

In [ ]:
class MoreFourCal(FourCal):
  def div(self):
    if self.num2 == 0:
      return 0
    else:
      return self.num1 / self.num2

In [ ]:
a = MoreFourCal(2, 0)
a.div()

0

## 모듈과 패키지
모듈 ⊂ 패키지 ⊂ 라이브러리
* 함수나 클래스의 장점 : 반복을 줄임